.card-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    outline: 1px solid rgba(0, 0, 0, 0.5);
    outline-offset: 10px;
    border-radius: 5px;
}

.card-thumbnail {
    border-radius: 5px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

.card-link {
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 237);
    padding: 5px;
    border-radius: 10px;
}